# Python
__pycache__/
*.py[cod]
*$py.class
*.egg-info/
dist/
build/

# Ambientes virtuais
.venv/
venv/

# Caches de ferramentas
.pytest_cache/
.ruff_cache/
.mypy_cache/

# IDEs
.idea/
*.iml
.vscode/

# Logs
*.log

# Ambiente
.env

# SO
.DS_Store
Thumbs.db
